/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
/*************** Reset *********************/

/* ---------LOGO--------- */
.logo-pic {
  width: 60px;
}

/* ---------BODY--------- */
body {
  background-color: #f4f4f4;
}

/* ---------FONTE--------- */
@font-face {
  font-family: hero;
  src: url("font/gerbil-webfont.woff2");
}

h1 {
  font-family: hero;
  text-transform: uppercase;
  color: #232323;
  font-size: 4.5rem;
  padding-top: 40px;
}

/* media q for at sørge for teskten ikke bliver for stor, når skærmen bliver mindre */
@media (max-width: 870px) {
  .h1-mindre {
    font-size: 3.7rem;
  }
}

@media (max-width: 800px) {
  .h1-mindre {
    font-size: 3.5rem;
  }
}
@media (max-width: 620px) {
  .h1-mindre {
    font-size: 2.7rem;
  }
}

h2 {
  font-family: "Afacad Flux", serif;
  font-style: normal;
  text-transform: uppercase;
  color: #232323;
  font-size: 2.5rem;
}

p {
  font-family: "Afacad Flux", serif;
  color: #232323;
  font-size: 1.3rem;
}

a {
  font-family: "Afacad Flux", serif;
  text-decoration: none;
  color: #232323;
}

/* ---------FOOTER--------- */
footer {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 10px;
  margin-top: 30px;
}
footer p {
  text-align: center;
  font-size: 0.9rem;
}

/* ---------KROP--------- */

main {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background-image: url(img/bg.svg);
  background-size: cover;
  /* margin: 30px; */
  /* margin er sat på, så teksten ikke klister til kanterne i mindre skærmstørrelser */
}

/* ---------IMG--------- */
img {
  border-radius: 10px;
}

/* ------- BURGER ---------- */

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 4px;
  background-color: #232323;
  margin-bottom: 5px;
  transition: 0.2s linear;
  border-radius: 10px;
}

.burger {
  display: none;
}

@media screen and (max-width: 800px) {
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(192, 182, 240);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }

  header .menu {
    display: none;
  }
}

/* ------------------- MENU ------------------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #232323;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  /* font-family: Gerbil; */
  font-family: hero;
}

.menu a:hover {
  color: rgb(152, 140, 212);
}

.menu {
  font-size: 1rem;
  color: rgb(101, 43, 117);
}

/* ---------LÆS MERRE KNAP-------- */
.laes-mere:hover {
  color: rgb(152, 140, 212);
}

.laes-mere {
  display: inline-block;
  font-size: 1.3rem;
}
