/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
/*************** Reset *********************/

/* ---------BODY--------- */
body {
  background-color: F4F4F4;
}

/* ---------FONTE--------- */
@font-face {
  font-family: hero;
  src: url("font/gerbil-webfont.woff2");
}

h1 {
  font-family: hero;
  text-transform: uppercase;
  color: #232323;
  font-size: 4.5rem;
}

h2 {
  font-family: "Afacad Flux", serif;
  font-style: normal;
  text-transform: uppercase;
  color: #232323;
  font-size: 2.5rem;
}

p {
  font-family: "Afacad Flux", serif;
  font-weight: regular;
  color: #232323;
}

a {
  font-family: "Afacad Flux", serif;
  font-weight: regular;
  text-decoration: none;
  color: #d62424;
}

/* ---------FOOTER--------- */
footer {
  text-align: center;
}

/* ---------KROP--------- */

main {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background-image: url(img/hi-fi\ 02_EMNESITE.svg);
  background-size: cover;
}

/* ---------IMG--------- */
img {
  border-radius: 10px;
}
