/* INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML */
/* ----------HERO SECTION---------- */

.hero {
  aspect-ratio: 5/4;
  text-align: center;
  justify-content: center;
  padding-top: 70px;
  background-image: url(img/circle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  /* object-fit: cover; */
  background-position: center;
}

.grid-1_2 {
  padding-top: 300px;
}

.circle {
  border-radius: 50%;
  width: 450px;
  height: 450px;
  background: linear-gradient(#a8d5c4 10%, #a3d1da 20%, #c0b6f0 40%, #efa7b3 60%, #f5b97b 80%);
  filter: blur(45px);
  rotate: -20deg;
}

h1 {
  text-align: center;
}

/* ----------OM VICTORIA----------*/
.grid-1_1 {
  padding: 50px;
  gap: 25px;
  display: grid;
}

.grid-1_1 img {
  height: 400px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.grid-1_1 p {
  padding-bottom: 40px;
}

.tekst-m-bg {
  padding: 10px;
  width: 400px;
  height: 490px;
  background-color: rgba(255, 255, 255, 0.6);
  border: white solid 1px;
  border-radius: 10px;
  margin: auto;
}

@media (min-width: 800px) {
  .grid-1_1,
  .grid-1_1-flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
  }
  .grid-1_1 img {
    height: 500px;
  }
}

/* ----------PROJEKTER----------*/
/* .... og udforsk knapperne til tema siderne....*/

#main_projekter {
  background-image: url(img/projekter_bg.svg);
  background-size: cover;
}

.grid-1_1-flex {
  padding: 50px;
  justify-content: center;
  align-items: center;
  display: grid;
}

.knap_2 {
  width: 150px;
  height: 30px;
  background-color: rgba(192, 182, 240, 0.6);
  border: rgba(192, 182, 240) solid 1.5px;
  border-radius: 10px;
  margin: auto;
  margin-top: 25px;
  padding-top: 7px;
  font-family: Gerbil;
  color: #232323;
}
.knap_3 {
  width: 150px;
  height: 30px;
  background-color: rgba(239, 167, 179, 0.6);
  border: rgba(239, 167, 179) solid 1.5px;
  border-radius: 10px;
  margin: auto;
  margin-top: 25px;
  padding-top: 7px;
  font-family: Gerbil;
  color: #232323;
}
.knap_4 {
  width: 150px;
  height: 30px;
  background-color: rgba(245, 185, 123, 0.6);
  border: rgba(245, 185, 123) solid 1.5px;
  border-radius: 10px;
  margin: auto;
  margin-top: 25px;
  padding-top: 7px;
  font-family: Gerbil;
  color: #232323;
}
.knap_5 {
  width: 150px;
  height: 30px;
  background-color: rgba(163, 209, 218, 0.6);
  border: rgba(163, 209, 218) solid 1.5px;
  border-radius: 10px;
  margin: auto;
  margin-top: 25px;
  padding-top: 7px;
  font-family: Gerbil;
  color: #232323;
}

.tema_boks {
  width: 320px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.6);
  border: white solid 1px;
  border-radius: 10px;
  padding: 5px 20px;
  margin-bottom: 40px;
  text-align: center;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.tema_boks a {
  display: block; /* du har sat display block på fordi den ligger inde i en .tema_boks, som du har sat til at centrere hele mulevitten, så for at undgå den hopper op i midten sætter vi block på!*/
}

/* ----------TEMA 2----------*/
