/* INDEX.HTML INDEX.HTML INDEX.HTML INDEX.HTML */
/* ----------HERO SECTION---------- */

.hero {
  aspect-ratio: 5/4;
  text-align: center;
  justify-content: center;
  padding-top: 40px;
  background-image: url(img/circle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  background-color: #f4f4f4;
}
@media (min-width: 800px) {
  .hero {
    aspect-ratio: 15/9;
  }
}

.grid-1_2 {
  padding-top: 300px;
}

/* .circle {
  border-radius: 50%;
  width: 450px;
  height: 450px;
  background: linear-gradient(#a8d5c4 10%, #a3d1da 20%, #c0b6f0 40%, #efa7b3 60%, #f5b97b 80%);
  filter: blur(45px);
  rotate: -20deg;
} */

h1 {
  text-align: center;
}

/* ------ANIMATION TIL PULS KNAP------ */
.puls {
  animation-name: puls_kf;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes puls_kf {
  from {
    scale: 1;
  }
  to {
    scale: 1.2;
  }
}
/* ----------OM VICTORIA----------*/

.header_index a {
  color: #f4f4f4;
}

.grid-1_1_forside {
  padding: 50px;
  gap: 25px;
  display: grid;
}

.grid-1_1_forside img {
  height: 400px;
  width: auto;
  margin: auto;
}

.grid-1_1_forside p {
  padding-bottom: 15px;
}

.tekst-m-bg {
  padding: 10px;
  width: auto;
  height: auto;
  background-color: rgba(255, 255, 255, 0.6);
  border: white solid 1px;
  border-radius: 10px;
  margin: auto;
}

@media (min-width: 800px) {
  .grid-1_1,
  .grid-1_1-flex,
  .grid-1_1_forside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
  }
  .grid-1_1 img {
    height: 500px;
  }

  .grid-1_1_forside img {
    height: 500px;
  }
}

/* ----------PROJEKTER----------*/
/* .... og udforsk knapperne til tema siderne....*/

#main_projekter {
  background-image: url(img/projekter_bg.svg);
  background-size: cover;
  border-radius: 10px;
}

.grid-1_1-flex {
  padding: 50px;
  justify-content: center;
  align-items: center;
  display: grid;
}

.knap_2,
.knap_3,
.knap_4,
.knap_5 {
  box-shadow: 2px 3px #232323;
  transition: 0.5s transform, 0.75s box-shadow;
}
.knap_2 {
  width: 150px;
  height: 30px;
  background-color: rgba(192, 182, 240, 0.6);
  border: rgba(192, 182, 240) solid 1.5px;
  border-radius: 10px;
  margin: auto;
  margin-top: 25px;
  padding-top: 7px;
  font-family: Gerbil;
}

.knap_2:hover {
  transform: translateY(5%) translateX(5%);
  box-shadow: none;
}
.knap_3 {
  width: 150px;
  height: 30px;
  background-color: rgba(239, 167, 179, 0.6);
  border: rgba(239, 167, 179) solid 1.5px;
  border-radius: 10px;
  margin: auto;
  margin-top: 25px;
  padding-top: 7px;
  font-family: Gerbil;
}

.knap_3:hover {
  transform: translateY(5%) translateX(5%);
  box-shadow: none;
}
.knap_4 {
  width: 150px;
  height: 30px;
  background-color: rgba(245, 185, 123, 0.6);
  border: rgba(245, 185, 123) solid 1.5px;
  border-radius: 10px;
  margin: auto;
  margin-top: 25px;
  padding-top: 7px;
  font-family: Gerbil;
}

.knap_4:hover {
  transform: translateY(5%) translateX(5%);
  box-shadow: none;
}
.knap_5 {
  width: 150px;
  height: 30px;
  background-color: rgba(163, 209, 218, 0.6);
  border: rgba(163, 209, 218) solid 1.5px;
  border-radius: 10px;
  margin: auto;
  margin-top: 25px;
  padding-top: 7px;
  font-family: Gerbil;
}

.knap_5:hover {
  transform: translateY(5%) translateX(5%);
  box-shadow: none;
}

.tema_boks {
  width: 320px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.6);
  border: white solid 1px;
  border-radius: 10px;
  padding: 5px 20px;
  margin-bottom: 40px;
  text-align: center;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.tema_boks a {
  display: block; /* du har sat display block på fordi den ligger inde i en .tema_boks, som du har sat til at centrere hele mulevitten, så for at undgå den hopper op i midten sætter vi block på!*/
}

/* ----------TEMAER GENEREL----------*/
.grid-1_1 img {
  height: 400px;
  width: auto;
  /* margin-left: auto;
  margin-right: auto; */
  margin: auto;
}
.grid-1_1 {
  padding: 25px;
  gap: 25px;
  display: grid;
}

.citat {
  text-align: center;
  padding-top: 10px;
  font-size: 1.2rem;
}
h2 {
  text-align: center;
}

.intro_center {
  padding-left: 10px;
  padding-right: 10px;
}
.projekt_box img {
  aspect-ratio: 16/9;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.knap_2,
.knap_2b,
.knap_3,
.knap_3b,
.knap_4,
.knap_4b,
.knap_5,
.knap_5b {
  display: grid;
  text-align: center;
  justify-content: center;
}

@media (min-width: 800px) {
  .intro_center h1 {
    text-align: left;
  }
  .intro_center h2 {
    text-align: right;
  }
}

.h2-tema {
  padding-top: 80px;
  padding-bottom: 10px;
}

.gallery-1_1,
.gallery-1_1_1,
.grid-1 {
  padding-left: 30px;
  padding-right: 30px;
  display: grid;
  justify-content: center;
  margin: auto;
}

.tekst_bg {
  padding: 10px;
  width: auto;
  height: auto;
  background-color: rgba(255, 255, 255, 0.6);
  border: white solid 1px;
  border-radius: 10px;
  margin: auto;
}

.laering {
  padding: 10px;
  width: auto;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  border: white solid 1px;
  border-radius: 10px;
  margin: auto;
}
.laering p {
  padding-bottom: 10px;
}

.intro-text {
  padding: 10px;
  width: auto;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  border: white solid 1px;
  border-radius: 10px;
  margin: auto;
}

/* ----------TEMA 2----------*/

/* newbie */
@media (min-width: 800px) {
  .gallery-1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
}

.knap_2b,
.knap_3b,
.knap_4b,
.knap_5b {
  height: 30px;
  border-radius: 10px;
  margin: auto;
  margin-top: 50px;
  padding-top: 7px;
  font-family: Gerbil;
  box-shadow: 2px 3px #232323;
  transition: 0.5s transform, 0.75s box-shadow;
}

.knap_2b {
  width: 180px;
  background-color: rgba(192, 182, 240, 0.6);
  border: rgba(192, 182, 240) solid 1.5px;
}

.knap_2b:hover {
  transform: translateY(5%) translateX(5%);
  box-shadow: none;
}

/* ----------TEMA 3----------*/
.knap_3b {
  width: 250px;
  background-color: rgba(239, 167, 179, 0.6);
  border: rgba(239, 167, 179) solid 1.5px;
}

.knap_3b:hover {
  transform: translateY(5%) translateX(5%);
  box-shadow: none;
}

.grid-1 img {
  margin-bottom: 10px;
  border: solid white 1px;
}

.gallery-1_1 img {
  margin-bottom: 10px;
}

/* nedstående er løsning der skal være i 3x1fr i desktop */
@media (min-width: 800px) {
  .gallery-1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
  }
}

/* ----------TEMA 4----------*/
.knap_4b {
  width: 180px;
  background-color: rgba(245, 185, 123, 0.6);
  border: rgba(245, 185, 123) solid 1.5px;
}
.knap_4b:hover {
  transform: translateY(5%) translateX(5%);
  box-shadow: none;
}

/* ----------TEMA 5----------*/
.knap_5b {
  width: 250px;
  background-color: rgba(163, 209, 218, 0.6);
  border: rgba(163, 209, 218) solid 1.5px;
}
.knap_5b:hover {
  transform: translateY(5%) translateX(5%);
  box-shadow: none;
}

/* ----------CV----------*/

@media (min-width: 850px) {
  .grid-2_3 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 90px;
  }
}
.grid-2_3 {
  margin-left: 20px;
  margin-right: 20px;
}

.grid-2_3 img {
  margin-bottom: 50px;
}
.stalk_mig {
  text-align: center;
  padding-top: 20px;
}

@media (min-width: 800px) {
  .stalk_mig {
    text-align: center;
    padding-top: 50px;
  }
}

.info_box {
  padding: 10px;
  padding-bottom: 15px;
  width: auto;
  height: auto;
  background-color: rgba(255, 255, 255, 0.6);
  border: white solid 1px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 90px;
}
.info_box p {
  padding-bottom: 10px;
}

.info {
  text-align: center;
  padding-bottom: 50px;
}

.grid-1_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 20px;
  text-align: center;
  gap: 50px;
  margin: 30px 30px 30px 30px;
}

.program1,
.program2,
.program3,
.program4,
.program5,
.program6,
.program7,
.program8,
.program9 {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  align-items: center;
}
.program1 {
  background-color: #a8d5c4;
  box-shadow: 0px 0px 12px 10px #a8d5c4;
}

.program2 {
  background-color: #efa7b3;
  box-shadow: 0px 0px 12px 10px #efa7b3;
}
.program3 {
  background-color: #a3d1da;
  box-shadow: 0px 0px 12px 10px #a3d1da;
}
.program4 {
  background-color: #c0b6f0;
  box-shadow: 0px 0px 12px 10px #c0b6f0;
}
.program5 {
  background-color: #f5b97b;
  box-shadow: 0px 0px 12px 10px #f5b97b;
}
.program6 {
  background-color: #a8d5c4;
  box-shadow: 0px 0px 12px 10px #a8d5c4;
}
.program7 {
  background-color: #efa7b3;
  box-shadow: 0px 0px 12px 10px #efa7b3;
}
.program8 {
  background-color: #a3d1da;
  box-shadow: 0px 0px 12px 10px #a3d1da;
}
.program9 {
  background-color: #c0b6f0;
  box-shadow: 0px 0px 12px 10px #c0b6f0;
}

/* grøn #A8D5C4

 pink #EFA7B3

 blå #A3D1DA

 lilla #C0B6F0

 orange #F5B97B */
